/* You can add global styles to this file, and also import other style files */
body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    padding: 5%;
    padding-top: 0%;
}

#heading {
    /*border: solid green;*/
    text-align: left;
    height: 10%;
    width: 80%;
    position: fixed;
    top: 5%;
    margin-left: 5%;
}

#title {
    /*border: solid red;*/
    width: 100%;
    left: 0%;
    padding: 0%;
    margin-top: 0%;
}

#heading a {
    color: black;
}

#nav {
    /*border: solid blue;*/
    left: 0%;
    width: 80%;
    position: absolute;
    margin-top: -1%;
    padding: 0%;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#nav li {
    list-style-type: none;
}
  
#nav li a {
    float: left;
    padding: 3%;
    padding-top: 0%;
    padding-left: 0%;
    color: rgb(79, 125, 194);
  }
  
.container {
    width: 20%;
    height: 33%;
    left: 5%;
    top: 20%;
    margin-right: 33%;
    margin-bottom: 80%;
    border: solid 1px rgba(128, 128, 128, 0.5);
    padding: 3%;
    position: fixed;
    min-width: 250px;
    min-height: 300px;
}

.label {
    padding: 5%;
}

.textBox {
    padding: 5%;
    margin-top: -5%;
}

.button {
    margin: 5%;
    margin-top: 5%;
}

.feedback {
    margin: 5%;
    margin-top: 10%;
    font-weight: bold;
}

.feedbackNumber {
    color: rgb(79, 125, 194);
}

/*@media only screen and (max-width: 1387px) {
    .container {
      width: 30%;
    }
  }

  @media only screen and (max-width: 650px) {
    .container {
      width: 40%;
    }
  }

  @media only screen and (max-width: 1000px) {
    .container {
      margin-top: 15%;
    }
  }

  @media only screen and (max-width: 850px) {
    .container {
      margin-top: 20%;
    }
  }

  @media only screen and (min-width: 1000px) {
    .container {
      margin-top: 15%;
    }
  }

  @media only screen and (min-width: 1600px) {
    .container {
      margin-top: 10%;
    }
  }*/

  @media only screen and (max-width: 1200px) {
    .container {
      padding: 1%;
    }
  }

  @media only screen and (max-height: 700px) {
    .container {
      top: 150px;
    }
  }
